.component-event {
  position: relative;
  width: 100%;
  height: 172px;
  padding-left: 320px;
  padding-right: 48px;
  margin: 16px auto;
}
.component-event .event-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
}
.component-event .event-right {
  position: relative;
  border: 1px solid gray;
  height: 172px;
  border-left: 0;
  padding: 8px 8px 0 12px;
  overflow-y: auto;
  background-color: #e4edf2;
}
.component-event .event-operator {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 172px;
  font-size: 24px;
  text-align: center;
  padding-top: 16px;
}